{% extends 'layout.html.twig' %}

{% block body %}
    Félicitations ! Votre commande à bien été prise en compte.

    <p>Votre commande à le numéro {{ booking.NumBooking }}</p>

    <p>Vos billets ont été envoyés à votre adresse : {{ booking.email }} ! </p>

    <p> Si vos billets ne vous ont pas été envoyés contacté nous à l'adresse suivante {{ mail_service_client }}  </p>
{% endblock %}