{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Voici le récapitulatif de votre commande : </h1>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in booking.tickets %}
        <tr>

            <td>{{ ticket.name }}</td>
            <td>{{ ticket.surname }}</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}
