{% extends 'layout.html.twig' %}

{% block body %}

    {{ form_start(formTicket) }}

    {{ form_row(formTicket) }}
    <input type="submit" value="Commmander" class="btn btn-success"/>

    {#Cliquez <a href=" {{ path('recap') }}">ici </a>#}
    {{ form_end(formTicket) }}

{% endblock %}

{% block stylesheets %}

{% endblock %}
