{% extends '@sabateLouvre/layout.html.twig' %}

{% block body %}
        Bienvenue sur la page d'accueil

        Ici vous allez trouver le formulaire dès qu'il sera pret :D Je suis au bon endroit

        Ici il y aura le 1er formulaire à savoir = entity Booking : Id/JourViste/TypeBillet/NombreBillet/Email/NumCommande/Total

    Cliquez <a href=" {{ path('tickets') }}">ici </a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
